
<form method="POST" action="$URL">
<input type="hidden" name="action" value="retreve_password">
username: <input type="text" name="username">
<p>
registed_email:<input type="text" name="email_address">
<input type="submit" value="Retreve">
</form>

